body{ 
	SCROLLBAR-FACE-COLOR: #eeeeee; 

	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 

	SCROLLBAR-SHADOW-COLOR: #b4b4b4; 

	SCROLLBAR-3DLIGHT-COLOR: #b4b4b4; 

	SCROLLBAR-ARROW-COLOR: #333333; 

	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 

	SCROLLBAR-BASE-COLOR: #eeeeee; 
} 

.dtree {
	font-family: ו,Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;	
	/*white-space: nowrap;*/	 
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #EBF3F3;
}
.dtree .clip {
	overflow:hidden;
}